:root {
  --body-bg-color: linear-gradient(
    150deg,
    #560b60,
    #470f83,
    #0a5ca9,
    #8278f2e3
  );
  --green: #26fd00;
  --White: #ffffff;
  --bg-botao-links: linear-gradient(80deg, #9900f8, #7105ed, #b006e9);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--body-bg-color);
  background-size: 300% 150%;
}

.perfil,
.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil {
  font-family: "Poppins", sans-serif;
  color: var(--green);
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
}

.perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 0.5em;
  border: 3px solid;
  margin-bottom: 1.3em;
}

.nome__perfil {
  color: var(--White);
}

.botoes {
  margin-top: 2.5em;
  text-align: center;
}

.botoes li {
  width: 20%;
  border-radius: 4px;
  padding: 1em 9em;
  margin-bottom: 1em;
  cursor: pointer;
  background: var(--bg-botao-links);
  background-size: 180%;
}

.botoes a {
  text-decoration: none;
  color: var(--White);
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.icons__sociais ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 3em auto;
}

@media (max-width: 500px) {
  .perfil img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 0.3em;
    border: 2px solid;
    margin-bottom: 1.3em;
  }

  .botoes li {
    border: 2px solid var(--purple);
    border-radius: 4px;
    padding: 0.8em 7em;
    margin-bottom: 1em;
  }
}
